<%= form_for [@deal, ImageGallery.new] do |f| %>
  <div class="p-xl">
    <div class="add-page">
      <div class="row">
        <div class="col-md-12">
          <% if @deal.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>
              <ul>
              <% @deal.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <h3 style="margin-top:0">Upload Photos</h3>
          <p class="text-muted m-b-lg">
            You can upload as many photos as you want.
          </p>
          <%= f.file_field :deal_images, as: :file, class: "filestyle", id: "lefile", style: "position:fixed; left:-500px;" %>
          <div class="bootstrap-filestyle" style="display: inline;">
            <label for="lefile" class="btn btn-default btn-square no-text-shadow">
              <i class="i i-images"></i><br>
              <span>Upload Image</span>
            </label>
          </div>
          <div class="row">
            
            <% ImageGallery.where(deal_id: @deal).each do |image| %>
              
                <%= image_tag(image.deal_images.url(:thumb), class: "img-thumbnail") %>                 
             
            <% end %>
            <div class="upload-preview-options">
              <%= image_tag("blank.gif", id: "pageimage") %>
            </div>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Save", class: "btn btn-success", style: "" %>
        </div>
      </div>
    </div>    
  </div>
<% end %>

<script>
  $(document).ready(function() {

    $('input').change(function() {

      $('#address_form').submit(); 
      $('#feedback').show();     
      $('#feedback').text("saved").fadeOut('slow');

    });

    

    $('#continue-btn').click(function() {
      $('#address_form').submit(); 
    });

    $('.nav-main li a').click(function() {
      $('#address_form').submit();
    });

    
   

  });

  function add_fields(link, association, content) {
        var new_id = new Date().getTime();
        var regexp = new RegExp("new_" + association, "g");
        $(link).parent().append(content.replace(regexp, new_id));
        var id = "deal_image_galleries_attributes_" + new_id + "_deal_images";
        
        // File submit gets clicked automatically after Add Image btn is clicked on Availability page
        $("#" + id).click();
        $(".parent > .preview-col:last").hide();
        $(".parent > .preview-col > .fields > .upload-preview:last img").addClass(id);
   

        // Preview image on Upload Photos page before submit
        var preview = $(".upload-preview img." + id);
        // File input change on Availability page
        $("#" + id).change(function(event){
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();

            reader.onload = function(e){
                image_base64 = e.target.result;
                preview.attr("src", image_base64);
            };

            reader.readAsDataURL(file);  

            preview.addClass('preview-img-border');
           $(".parent > .preview-col:last").show();
        });     

        

    }
</script>
<style type="text/css">
#display-none-preview > .preview-col:first-of-type {
  width: 0px;
}
#display-none-preview > .preview-col:first-of-type > .fields > .upload-preview,
#display-none-preview > .preview-col:first-of-type > .fields > .row > .col-md-12 > .btn-group {
  display: none;
  width: 0px;
}
</style>





























