<div class="p-xl bg-white b-b">
  <h3 style="margin-top:0;">Contacts</h3>
  <p class="text-muted m-b-lg">
    Select all contacts for this deal.
  </p>
  <%= form_for [@deal, ContactForDeal.new] do |f| %>
    <div class="form-group">
      <div class="btn-group m-r">
        <button data-toggle="dropdown" class="btn btn-lg btn-default dropdown-toggle no-text-shadow">
          <span class="dropdown-label" data-placeholder="Please select">Select</span> 
          <span class="caret" style="margin-left:30px;"></span>
        </button>
        <ul class="dropdown-menu dropdown-select max-height-400">
          <% @contacts.each do |contact| %>
            <li>
              <a href="#">
                <%= f.radio_button :contact_id, contact.id, id: "contact_radio_#{contact.id}" %>
                <%= contact.full_name %>
              </a>
            </li>
          <% end %>
        </ul>        
      </div>
      <%= f.submit "Add", class: "btn btn-danger btn-lg btn-shadow" %>
    </div>
  <% end %><!-- end form -->
</div>
<div class="p-xl">
  <%= render(:partial => 'table', :collection => @contact_for_deals) || 'No contacts added to this deal.' %>
</div>
