 <!-- Modal -->
  <%= form_for [Contact.new] do |builder| %>
  <div class="modal fade" id="contact_modal_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">New Contact</h4>
        </div>
        <div class="modal-body">
         
      
        <div class="form-group">
          <%= builder.label :full_name, "Full Name" %>
          <%= builder.text_field :full_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= builder.label :company %>
          <%= builder.text_field :company, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= builder.label :email %>
          <%= builder.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= builder.label :phone_number %>
          <%= builder.text_field :phone_number, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= builder.label :job_title %>
          <%= builder.text_field :job_title, class: "form-control" %>
        </div>        
      
      
   
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
          <%= builder.submit "Save", class: "btn btn-danger btn-shadow" %>
        </div>
      </div>
    </div>
  </div><!-- end modal -->
  <% end %>
