<div id="feedback"></div>
<div class="panel-body">
  <div class="add-page">
    <div class="row">
      <div class="col-sm-6">
        <%= form_for [@deal, Contact.new] do |f| %>
          <h3>Add Contacts</h3>
          <p class="text-muted m-b-lg">
            Enter all contacts for this property.
          </p>
          <div class="form-group">
            <%= f.label :full_name %>
            <%= f.text_field :full_name, class: "form-control" %>
          </div>
          
          <%= f.submit "Add", class: "btn btn-success", style: "display:none" %>
        <% end %>
        <% @contacts.each do |c| %>
          <%= c.full_name %><br>
        <% end %>
      </div>
    </div>
  </div>
</div>