<div class="bg-white" style="position:fixed; width:239px;">
	<div class="text-muted-extra m-t-sm text-xs hidden-nav-xs padder text-u-c font-bold">
	  Basic Information
	</div>
	<ul class="nav nav-main" data-ride="collapse">
		<li>
			<%= link_to property_deal_path(@deal) do %>
				Property Information
				<span class="pull-right text-danger"> 
					<i class="i i-plus icon"></i> 
				</span>
				
			<% end %>
		</li>
		<li>
			<%= link_to address_deal_path(@deal) do %>
				Property Address
				<span class="pull-right text-danger"> 
					<i class="i i-plus icon"></i> 
				</span>
			<% end %>
		</li>
	</ul>
	<div class="text-muted-extra text-xs hidden-nav-xs padder m-t-sm text-u-c font-bold">
	  Description
	</div>
	<ul class="nav nav-main" data-ride="collapse">
		<li>
			<%= link_to overview_deal_path(@deal) do %>
				Overview
				<span class="pull-right text-danger"> 
					<i class="i i-plus icon"></i> 
				</span>
			<% end %>
		</li>
		<li>
			<%= link_to deal_photos_path(@deal) do %>
				Photos
				<span class="pull-right text-danger"> 
					<i class="i i-plus icon"></i> 
				</span>
			<% end %>
		</li>
	</ul>
	<div class="text-muted-extra text-xs hidden-nav-xs padder m-t-sm text-u-c font-bold">
	  Extras
	</div>
	<ul class="nav nav-main" data-ride="collapse">
		<li>
			<%= link_to deal_important_docs_path(@deal) do %>
				Important Docs
				<span class="pull-right text-danger"> 
					<i class="i i-plus icon"></i> 
				</span>
			<% end %>
		</li>
		<li>
			<%= link_to deal_important_dates_path(@deal) do %>
				Important Dates
				<span class="pull-right text-danger"> 
					<i class="i i-plus icon"></i> 
				</span>
			<% end %>
		</li>
		<li>
			<%= link_to deal_contacts_path(@deal) do %>Contacts
				<span class="pull-right text-danger"> 
					<i class="i i-plus icon"></i> 
				</span>
			<% end %>
		</li>
		<li>
			<a href="">Amenities
				<span class="pull-right text-danger"> 
					<i class="i i-plus icon"></i> 
				</span>
			</a>
		</li>
	</ul>
</div>








































