<div id="feedback"></div>
<div class="b-b bg-white p-xl">
  <div class="row">
    <div class="col-sm-12"> 
      <%= form_for [@deal, ImportantDoc.new] do |f| %>
        <h3 style="margin-top:0;">Important Documents</h3>
        <p class="text-muted m-b-lg">
          Add all important documents related to this deal.
        </p>
        <div class="form-group">
          <div class="bootstrap-filestyle input-group">
            <span class="group-span-filestyle" tabindex="0">
              <label for="filestyle-0" class="btn btn-default no-text-shadow">
                <i class="i i-file-plus"></i> Upload file
              </label>
            </span>
          </div>
          <%= f.file_field :doc_files, as: :file, class: "filestyle", style: "position:fixed; left:-500px;", id: "filestyle-0", data: {icon: "false", classbutton: "btn btn-default", classinput: "form-control inline v-middle input-s"}, tabindex: "-1" %>
        </div>
        <%= f.submit "Add", class: "btn btn-danger btn-shadow" %>
      <% end %>
    </div>
  </div>
</div>
<div class="p-xl">
  <% if @deal.important_docs.any? %>
    <div class="row text-center">
      <div class="col-lg-3">
        <div class="panel padder-v item">
          <div class="h1 font-thin h1"><%= @docs.count %></div>
          <span class="text-muted text-xs">Important Documents for</span><br>
          <span class="text-muted text-xs bold uppercase"><%= @deal.property_name %></span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel padder-v item">
          <div class="h1 font-thin h1"><%= @docs.count %></div>
          <span class="text-muted text-xs">Total Document Size</span><br>
          <span class="text-muted text-xs bold uppercase"><%= @deal.property_name %></span>
        </div>
      </div>
    </div>
    <div class="div-table box-shadow">
      <div class="div-table-head bold box-shadow">
        <div class="row">
          <div class="col-sm-3">
            File Name
          </div>
          <div class="col-sm-3">
            Size
          </div>
          <div class="col-sm-3">
            Uploaded
          </div>
          <div class="col-sm-3 text-right">
            Action
          </div>
        </div>
      </div>
      <div class="div-table-body">
      <% @docs.each do |doc| %>
        <div class="row">             
          <div class="col-sm-3 bold">
            <i class="i i-images"></i> <%= doc.doc_files_file_name %>
          </div>
          <div class="col-sm-3">
            <%= (doc.doc_files_file_size/1000).round(3) %> KB
          </div>
          <div class="col-sm-3">
            <%= time_ago_in_words(doc.updated_at) %> ago
          </div>
          <div class="col-sm-3">
            <span class="pull-right">
              <a href=""><i class="fa fa-fw m-r-xs fa-pencil text-info"></i></a>
              <a href="" data-toggle="modal" data-target="#doc<%= doc.id %>">
                <i class="i i-trashcan text-danger"></i>
              </a>
            </span>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="doc<%= doc.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                </div>
                <div class="modal-body">
                  Once the page is deleted, it's gone forever!
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                  <%= link_to "Delete", [@deal, doc], method: :delete, class: "btn btn-danger btn-shadow" %>
                </div>
              </div>
            </div>
          </div><!-- end modal -->
        </div><!-- end row -->
      <% end %>
    </ul>
  <% end %>
</div>

























  
