<%= link_to root_path, class: "btn btn-default no-text-shadow", style: "position:absolute; top:30px; left:30px;" do %>
  <i class="i i-arrow-left"></i> Back to Pipeline
<% end %>
<div class="panel-body">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= form_for(@deal, html: { class: "form-horizontal" }) do |f| %>
      <% if @deal.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>
          <ul>
          <% @deal.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <h1 class="bold text-center" style="color:#c7c7c7; padding: 50px">pipeline</h1>
      <h3>Property Information</h3>
        <p class="text-muted">
          Enter the property's basic information.
        </p>
      <div class="panel">
        <div class="p-xl">
          <p class="m-b-lg">You're just <span class="bold">a few steps</span> away from setting up your Pipeline deal. 
            First let us know what your property name, type, and class is.</p>
          <div class="form-group">
            <%= f.label :property_name, "Property Name:", class: "col-sm-3 control-label bold" %>
            <div class="col-sm-9">
              <%= f.text_field :property_name, class: "form-control", placeholder: "Your property name" %>
            </div>
          </div>
          <div class="line b-b b-light line-lg"></div>
          <div class="form-group">
            <%= f.label :property_type, "Property Type:", class: "col-sm-3 control-label bold" %>
            <div class="col-sm-9">
              <div class="btn-group" data-toggle="buttons"> 
                <% @property_type.each do |type| %>
                  <label class="btn btn-lg btn-default no-text-shadow"> 
                    <%= f.radio_button :property_type, type.id %> <%= type.name %>
                  </label> 
                <% end %>
              </div>
            </div>
          </div>
          <div class="line b-b b-light line-lg"></div>
          <div class="form-group">
            <%= f.label :property_class, "Property Class:", class: "col-sm-3 control-label bold" %>
            <div class="col-sm-9">
            <div class="btn-group m-r">
              <button data-toggle="dropdown" class="btn btn-lg btn-default dropdown-toggle no-text-shadow">
                <span class="dropdown-label" data-placeholder="Please select" style="margin-right:50px;">Select</span> 
                <span class="caret" style="margin-left:30px;"></span>
              </button>
              <ul class="dropdown-menu dropdown-select" id="class_dropdown">
                <li><a href="#"><%= f.radio_button :property_class, "A" %><%= "A" %></a></li>
                <li><a href="#"><%= f.radio_button :property_class, "B" %><%= "B" %></a></li>
                <li><a href="#"><%= f.radio_button :property_class, "C" %><%= "C" %></a></li>
              </ul>
            </div>
            </div>
          </div>
          <div class="line b-b b-light line-lg"></div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.submit "Continue", class: "btn btn-danger btn-shadow pull-right" %>
            </div>
          </div>
        </div>
      </div><!-- end panel -->   
    <% end %>
    <p class="text-muted">Need Help? <%= link_to "Just ask us.", "#", class: "blue" %></p>
    </div>
  </div>  
</div>

  






























