<div id="feedback"></div>
<%= form_for(@deal, html: { id: "address_form" }, remote: true) do |f| %>
  <div class="panel-body">
    <div class="add-page">
      <div class="row">
        <div class="col-sm-6">
          <% if @deal.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>
              <ul>
              <% @deal.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <h3>Property Information</h3>
          <p class="text-muted m-b-lg">
            Enter the property's basic information.
          </p>
        
          
          <div class="form-group">
            <%= f.label :property_name %>
            <%= f.text_field :property_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :owner_name %>
            <%= f.text_field :owner_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :floors %>
            <%= f.text_field :floors, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :sf, "Square footage" %>
            <%= f.text_field :sf, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :year_built %>
            <%= f.text_field :year_built, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :percent_leased %>
            <%= f.text_field :percent_leased, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :property_class %>
            <div class="btn-group m-r">
              <button data-toggle="dropdown" class="btn btn-lg btn-default dropdown-toggle no-text-shadow">
                <span class="dropdown-label" data-placeholder="Please select" style="margin-right:50px;"><%= property_class %></span> 
                <span class="caret" style="margin-left:30px;"></span>
              </button>
              <ul class="dropdown-menu dropdown-select" id="class_dropdown">
                <li><a href="#"><%= f.radio_button :property_class, "A" %><%= "A" %></a></li>
                <li><a href="#"><%= f.radio_button :property_class, "B" %><%= "B" %></a></li>
                <li><a href="#"><%= f.radio_button :property_class, "C" %><%= "C" %></a></li>
              </ul>
            </div>
          </div>
          <div class="form-group">

            
          </div>
          <%= f.submit "Save", class: "btn btn-success", style: "display:none" %>
        </div>
      </div>
    </div>
  </div>
<% end %>



<script>
  $(document).ready(function() {

    $('input').change(function() {

      $('#address_form').submit(); 
      $('#feedback').show();     
      $('#feedback').text("saved").fadeOut('slow');

    });

    $('#class_dropdown li a').click(function() {
      $(this).children().removeClass("checked");
      $(this).children().addClass("checked");
      if ($(this).is(':checked')) {
        $('#address_form').submit(); 
        $('#feedback').show();     
        $('#feedback').text("saved").fadeOut('slow');
      }
      
    });

    $("input[name='demo3']").TouchSpin({
      min: 0,
      max: 10000000000
    });

  });
</script>




























