<p id="notice"><%= notice %></p>

<p>
  <strong>Property name:</strong>
  <%= @deal.property_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @deal.user_id %>
</p>

<p>
  <strong>Property address:</strong>
  <%= @deal.property_address %>
</p>

<p>
  <strong>State:</strong>
  <%= @deal.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @deal.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @deal.zipcode %>
</p>

<p>Contacts</p>
<% @contacts.each do |c| %>
  <div>
    <%= c.full_name %>
  </div>
<% end %>

<%= link_to 'Edit', property_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
