<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    
      <%= render 'layouts/header' %>
      <% flash.each do |type, message| %>
        <div class="alert <%= flash_class type %>" id="alert-fadeout">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= message %>
        </div>
      <% end %> 
      <%= render 'layouts/aside' %>
      <div id="content" class="app-content" role="main">
        <div class="wrapper bg-white b-b box-shadow fixedheader" id="fixedheader2">   
          <div class="pull-left">
            <span class="bold text-muted deals-breadcrumb">
              Deals / <%= @deal.property_name %>
            </span>
          </div>   
          <div class="btn-toolbar">     
            <button href="#" class="btn btn-sm btn-info btn-shadow pull-right">Publish</button>
          </div>
        </div>
        <div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="MailCtrl" style="padding-top:61px">
          <div class="col w-md bg-white b-r bg-auto">
            <%= render 'layouts/aside/brokerform_aside' %>
          </div>
          <div class="col">
            <%= yield %>
          </div>
        </div>         
      </div>
    </div>

    
    <%= render 'layouts/footer' %>  
  </body>
</html>


