<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    
      <%= render 'layouts/header' %>
      <%= render 'layouts/flash' %>
     
      <%= render 'layouts/aside' %>
      <div id="content" class="app-content" role="main">
        <div class="wrapper bg-white b-b box-shadow fixedheader" id="fixedheader2">   
          <div class="pull-left">
            <span class="bold text-muted deals-breadcrumb">
              Deals / <%= @deal.property_name %>
            </span>
          </div>   
          <div class="btn-toolbar">     
            <%= form_for(@deal) do |f| %>
              <%= f.hidden_field :publish, value: true %>
              <%= f.submit "Publish", class: "btn btn-sm btn-info btn-shadow pull-right" %>
            <% end %>
          </div>
        </div>
        <div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="MailCtrl" style="padding-top:61px">
          <div class="col w-md bg-white b-r bg-auto">
            <%= render 'layouts/aside/brokerform_aside' %>
          </div>
          <div class="col">
            <%= yield %>
          </div>
        </div>         
      </div>
    </div>

    
    <%= render 'layouts/footer' %>  
  </body>
</html>


