<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
     <div class="app app-header-fixed  ">
      <%= render 'layouts/header' %>
      <% flash.each do |type, message| %>
        <div class="alert <%= flash_class type %>" id="alert-fadeout">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= message %>
        </div>
      <% end %> 
      <% if user_signed_in? %>
      <%= render 'layouts/aside' %>
      <% end %>
      <div id="content" class="app-content" role="main">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>  
  </body>
</html>

