<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <% if user_signed_in? %>
      <%= render 'layouts/aside' %>
    <% end %>
      <div id="content" class="app-content" role="main">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>  
  </body>
</html>

